.Map {
  width: 70%;
  height: 777px;
  margin-left: 11%;
}

.Map-container {
  width: 112%;
  height: 98.5%;
  margin-top: 1.2%;
}

.estilosDeSelect {
  background-color: #7e57c28e;
  position: sticky;
}


